*{
    margin:auto;
    padding:0px;
    font-family: sans-serif;
}
.nav{
    height: 100vh;
    width: 92px;
    margin: 0px;
    padding: 0px;
    box-shadow:0px 0px 5px rgb(0, 0, 0);
    position:fixed;
}
.nav h1{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 15px;
    font-weight: 600;
    background-color: #D9832E;
}
.navbar{
    list-style: none;
    text-align: center;
}
.navbar li{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid gray;
}
.navbar li i{
    font-size: 20px;
    padding: 5px;
}
.navbar li:hover{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 13px;
    border-right:4px solid #D9832E ;
    color: #D9832E;
}
.home{
    height:753px;
    background-image: url(./images/home-banner.jpg);
    /* background-attachment: fixed; */

}
.home h3{
    padding: 10px;
    font-size: 30px;
    margin-left: 250px;
    padding-top: 250px;
}
.home h1{
    font-size: 60px;
    margin-left: 250px;
}
.home p{
    margin-left: 250px;
    font-weight: 400;
    line-height: 25px;
    padding: 5px;
    color: rgb(97, 97, 97);
    font-size: 18px;
}
.btn{
    margin-left: 250px;
    background-color: #D9832E;
    font-size: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    margin-left: 250px;
    background-color: #000000;
    font-size: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    color: rgb(255, 255, 255);
    transition: ease 1s;
}
.btn1{
    margin-left: 20px;
    background-color:white;
    border: 2px solid #D9832E;
    color: #D9832E;
}
.btn1:hover{
    margin-left: 20px;
    background-color:#D9832E;
    border: 2px solid #D9832E;
    color: black;
    transition: ease 1s;
}
.section{
    background-color: #EAEDF2;
    margin top:60px;
    margin-left:92px;
    height: 100vh;
}
.section h1{
    font-size: 32px;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 30px;
    /* border-bottom: 2px solid #D9832E; */
}

.section p{
    color: rgb(97, 97, 97);
    font-size: 14px;
    word-spacing: 5px;
    padding-left: 30px;
    padding-top: 7px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2{
    margin-top:80px;
}
.banner2 img{
    width:400px;
    height: 400px;
    margin: 20px;
    margin-left: 40px;
    border: 18px solid white;
}
.description2{
    margin-top: 0px;
    padding: 0px;
}
.description2 h1{
    margin: 0px;
    padding-top: 130px;
    font-weight: 550;
}
.description2 h3{
    padding-left: 30px;
    padding-top: 7px;
    font-weight: 520;
    word-spacing: 5px;
}
.description2 h3 span{
    color: #D9832E;
}
.description2 p{
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    color: rgb(97, 97, 97);
    font-size: 16px;
    padding-right: 400px;
}
.bio{
    display: flex;
}
.bio ul{
    list-style: none;
    padding-top: 10px;
}
.bio ul li{
    color: rgb(0, 0, 0);
    padding: 5px;
}
.btn2{
    margin-left: 50px;
    background-color: #D9832E;
    font-size: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.btn2:hover{
    margin-left: 50px;
    background-color: #000000;
    font-size: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    color: rgb(255, 255, 255);
    transition: ease 1s;
}


